# Build folders

bin/
obj/

# Visual Studio

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider

.idea/

# VS Code

.vscode/

# Logs

*.log

# Database files

*.mdf
*.ldf
*.sqlite
*.db
*.db-shm
*.db-wal
# Entity Framework

Migrations/*.Designer.cs

# OS files

.DS_Store
Thumbs.db

# Publish folder

publish/
out/

# Test results

TestResults/

# NuGet

*.nupkg
*.snupkg
packages/
.nuget/

# Environment files

.env

# ASP.NET secrets

secrets.json

# Node 

node_modules/
dist/
build/

# Coverage

coverage/

# Temporary files

*.tmp
*.temp

# =========================
# FRONT-END (React / Vite)
# =========================
front-end/node_modules/
front-end/dist/
front-end/.vite/
front-end/coverage/

# arquivos de ambiente
front-end/.env
front-end/.env.*
!front-end/.env.example

# logs
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/pnpm-debug.log*

# sistema/editor
.DS_Store
Thumbs.db
.vscode/
.idea/